$drum-border: 3px solid #2d2727;
$drum-color: #2d2727;
$display-color: #423d3d;
$buttons-color: #c0bebe;
$button-container-color: #423d3d;
$shadow-color: #150b0b;
$text-color: white;

$drum-pad-color: (
  "red": #D26A6C,
  "purple": #9c6ad2,
  "blue": #6ad2d0,
  "green": #a0d26a,
  "black": #150b0b
);



